.card{
    /* display: flex;
    flex-direction: column; */
    /* remove below when making a row of cards */
    align-items: center; 
    margin-bottom: 10px;
    
}

.display-img{
    width:450px;
}

.display-img img{
    border-radius: 12px;
}

.cardInfo{ 
    margin-left: 5px;
    margin-top: 20px;
    font-size:larger;
}

.boldIt{
    font-weight: bold;
}

.BookBtn
{
    margin-top: 10px;   
    padding: 3px;
    border: 2px;
    border-radius: 10px;
    border-style:solid;
}

/* animations */

.BookBtn:hover{
    /* width: 300px; */
    background-color:brown;
}


/* media queries */
@media (max-width: 767px) {
    .card{
        margin: 10px;
    }
    
    .display-img{
        width:320px;
    }


}
