.Search{
    text-align: center;
    height: 40px;
}

.Search input{
    border-width: 2px;
    border-color:darkgrey;
    border-radius: 20px;
    width: 50vw;
    height: 50px;
    padding:10px;
    overflow-wrap: normal;
    box-shadow:1px 3px 4px 2px ;    
}

.Search-button{
    width: 80px;
    height: 45px;
    margin-left: 10px;
    border-color:brown;
    border-width: 2px;
    border-radius: 20px;
    box-shadow:1px 3px 4px 2px;
}


/* Animations */
.Search-button:hover{
    background-color:brown;
}

/* Media Queries */
@media (max-width: 767px){
    .Search input{
        width: 70vw;
    }
}